/* Estilos generales */
body {
  margin: 0;
  max-width: 100%;
  font-family: Arial, sans-serif;
  background-color: #cfe9ff;
  color: #000;
  min-height: 500px;
}

body.dark-mode {
  background-color: #1a1a1aed;
  color: #fff;
}

/* Estilos para el header */
header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 5px 15px;
  background-color: #5ce1e6;
}

header img {
  width: 100px;
  border-radius: 5px;
  border: 1px #353535be solid;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
  transition: 0.5s;
}

header img:hover {
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5)) brightness(1.1);
  transition: 0.5s;
}

/* Estilos para el contenido principal */
main {
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

main section {
  width: 85%;
  display: flex;
  padding: 10px;
  flex-direction: row;
}

@media (max-width: 700px) {
  main section {
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    width: 95%;
  }
}

/* Estilos para el botón de modo oscuro */
#miBoton {
  font-size: 30px;
  background: none;
  transition: 0.2s;
  cursor: pointer;
  border: none;
}

#miBoton:hover {
  color: #fff;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5)) brightness(1.1);
  transition: 0.2s;
}

/* Estilos para la animación marquee */
.marquee {
  width: 100%;
  overflow: hidden;
  background: #00949b;
  padding: 0;
  color: #fff;
  box-sizing: border-box;
}

.marquee p {
  display: inline-block;
  color: purple;
  margin: 4px;
  white-space: nowrap;
  font-size: 19px;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Estilos para la navegación */
#navegacion {
  display: flex;
  justify-content: center;
  gap: 3%;
  padding: 5px;
  background-color: #225052;
}

#navegacion a {
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: 0.5s;
  background: none;
  border: none;
}

#navegacion a:hover {
  background-color: #59bdb8;
  transition: 0.5s;
}

/* Estilos para los enlaces de redes sociales */
#redesSociales a {
  color: #fff;
  min-width: 100px;
}

#redesSociales ul {
  display: flex;
  gap: 10px;
  padding: 0px;
  margin: 0;
  list-style: none;
}

#redesSociales li {
  display: flex;
  gap: 10px;
}

/* Estilos específicos para cada red social */
.socialwhatsapp {
  background-color: #25d366;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 170px;
  right: 20px;
  z-index: 1000;
  text-decoration: none;
}

.socialfacebook {
  background-color: #3b5998;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 120px;
  right: 20px;
  z-index: 1000;
  text-decoration: none;
}

.socialinstagram {
  background-color: #e4405f;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 70px;
  right: 20px;
  z-index: 1000;
  text-decoration: none;
}

.socialtiktok {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-decoration: none;
}

/* Estilos para dispositivos móviles */
@media (max-width: 600px) {
  .socialwhatsapp,
  .socialfacebook,
  .socialinstagram,
  .socialtiktok {
    right: 0;
    padding: 8px;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
  }

  .socialwhatsapp {
    bottom: 145px;
  }

  .socialfacebook {
    bottom: 100px;
  }

  .socialinstagram {
    bottom: 55px;
  }

  .socialtiktok {
    bottom: 10px;
  }
}

/* Estilos para ambos divs */
.contenido-adicional-1,
.contenido-adicional-2 {
  width: 30%;
  padding: 30px;
  background-color: #d1b6b683;
}

.contenido-principal img {
  width: 40%;
  background-color: aliceblue;
}

/* Estilos específicos para cada div */
.contenido-adicional-1 {
  border-radius: 10px 0px 0px 10px;
}

.contenido-adicional-2 {
  border-radius: 0 10px 10px 0;
}

@media (max-width: 700px) {
  .contenido-adicional-1,
  .contenido-adicional-2,
  .contenido-principal img {
    width: -webkit-fill-available;
  }

  .contenido-adicional-1 {
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
  }

  .contenido-adicional-2 {
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
  }
}
